<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <nlog>
    <targets>
      <target name="file" type="File" encoding="utf-8" fileName="${basedir}/logs/capybara.${shortdate}.log" layout="${date:format=HH\:mm\:ss.fff}|${level:uppercase=true:padding=5}|${message}${exception:format=tostring}"/>
      <target name="console" type="ColoredConsole" layout="${date:format=HH\:mm\:ss.fff}|${level:uppercase=true:padding=5}|${message}${exception:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console"/>
      <logger name="*" minlevel="Trace" writeTo="file"/>
    </rules>
  </nlog>

  <appSettings>
    <!--<add key="Projects" value="MobileAdmin"/>-->
    <add key="Projects" value="Migration Manager for Exchange, MobileAdmin"/>

    <add key="TfsUrl" value="http://tfs.prod.quest.corp:8080/Windows%20Management/"/>
    <add key="TfsUsername" value="svc-SPB.MobAdmin"/>
    <add key="TfsPassword" value="qwerty`123"/>

    <add key="EwsUrl" value="https://webmailuk.quest.com/ews/exchange.asmx"/>
    <add key="EmailUsername" value="svc-SPB.MobAdmin"/>
    <add key="EmailPassword" value="qwerty`123"/>

    <add key="PollingInterval" value="60"/>
    <add key="LastCheckDateTime" value="0"/>
  </appSettings>

</configuration>
